.imgBox {
	display:block;
	overflow:hidden;
	background:transparent url('../gfx/pryjq-imagebox/loading.gif') no-repeat center center;
}
.imgBox img{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}